body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url('../img/loginBG2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    opacity: 0.7;
    z-index: -1;
}
.login-box{
    width: 400px;
    height: 550px;
    background: #900C3F;
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 14px 17px 19px -1px rgba(0,0,0,0.59);
}
.span-bienvenida{
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 700 4em/1 "Oswald", sans-serif;
    
}
.login-box form{
    opacity: 1;
    z-index: 2;
}
.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1{
    margin-top: 0;
    margin-bottom: 5;
    padding: 0;
    text-align:center;
    font-size:22px ;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom:20px ;

}
.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.login-box input[type="submit"]{
    margin-top: 15px;
    border: none;
    outline: none;
    height: 40px;
    background:#900C3F;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}
.login-box input[type="submit"]:hover{
    background: #fff;
    color: #900C3F;
}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.login-box a:hover{
    color: white;
}
/*Btn Select*/
.login-box select{
    display: block;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    background: #fff;
    color: #000000;
    font-size: 14px;
    width: 100%;
}
.span-visitante{
    font-size: 12px;
}
.btn-ingresar{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #900C3F;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.btn-ingresar:hover{
    background: #fff;
    color: #900C3F;
}