*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}
.icon-file{
    font-size: 20px;
    padding-right: 7px;
}
.formulario{
    width: 100%;
    max-width: 700px;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}
.formulario-style{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.form__title{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}
.form__label, .form__input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.form__input{
    padding: 10px;
    font-size: 14px;
}
.container--50{
    width: 100%;
}
.container__file{
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.span-form{
    margin-bottom: 15px;
}
.form__file{
    display: none;
}
.form-file-btn{
    background: #ba254a;
    padding: 10px;
    display: block;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.form-file-btn2{
    border-radius: 0;
}
.form-file-btn:hover{
    background: #fff;
    color: #ba254a;
}
.btn-input-img{
    width: 100%;
}
.file__txt{
    width: 78%;
    padding: 10px;
    font-size: 1.2em;

}
.selectcarrera{
    display: block;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0;
    background: #fff;
    color: #000000;
    font-size: 14px;
    width: 100%;
}
.progressBar{
    width: 100%;
    height: 40px;

}
.form__submit{
    width: 100%;
    margin-top: 10px;
    background: #ba254a;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.form__submit:hover{
    background: #fff;
    color: #ba254a;
}
.form__label2{
    font-size: 1.2em;
}
/*--------SECTION---------*/
.section__titulo{
    text-align:center;
    font-size: 40px;
    color: #ba254a;
}
.content{
    margin: auto;
    width: 98%;
    z-index: 11;
    margin-bottom: 80px;
}

/*HEADER*/
.header{

    
    height: 100%;
    /*z-index: 10;*/
}
.header .content{
    
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    margin: 0;
    width: 20%;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 40px;
    cursor: pointer;
}
.icon-menu:hover{
    background: #ba254a;
    color: #fff;
}
/*Menu Styles*/

.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link{
    display: block;
    padding: 20px;
    background: #ba254a;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select{
    background: white;
    color: #ba254a;
}
.mostrar{
    left: 0;
}

/*--------------FORMULARIO SUBIR--------------*/

/*Footer Styles*/
.footer {
    color: #777777;
    text-align: center;
    background-color: #f4eff3;
    border-top: 1px solid #ccc8cb;
    padding: 30px 0 65px;
    list-style: none;
  }
  
  footer ul{
    padding: 0px;
    text-align: left;
    list-style: none;
    margin-top: 20px;
  }
  footer li{
    text-align: -webkit-match-parent;
    margin-top: 15px;
  }
  footer a{
    color: #777777;
    text-decoration: none;
    font-weight: lighter;
  }
  footer a:hover{
    color: #ba254a;
  }
  .t-footer{
    text-align: left;
  }
  footer a .icon-{
    font-size: 20px;
  }

  @media (min-width: 280px) {
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search {
      width: 100%;
    }
    .nav {
      width: 100%;
    }
    .header {
      height: 60px;
    }
    .logo {
      margin-top: 10px;
      width: 55%;
      height: 35%;
    }
    .banner__titulo {
      display: none;
    }
    .banner__txt {
      display: none;
    }
    .noticias {
      display: flex;
      justify-content: space-between;
      margin-top: -120px;
    }
    .info__columna {
      width: 100%;
      margin: 0;
    }
    .info__titulo {
      font-size: 13px;
      margin: 5px 0;
    }
    .info__img {
      height: 50%;
    }
    .info__columna {
      font-size: 10px;
    }
    .noticias {
      flex-wrap: wrap;
      margin-top: 0;
    }
    .section__titulo {
      width: 100%;
    }
    .noticias__columna {
      width: 48%;
    }
    .noticias__txt {
      display: none;
    }
    .noticias__titulo {
      font-size: 10px;
      text-align: center;
      margin-top: 50%;
    }
    .section__titulo {
      font-size: 15px;
    }
    .footer .social [class^="icon-"] {
      margin: 0 10px;
    }
    .section__titulo {
      font-size: 15px;
      margin-bottom: 20px;
    }
    .footer {
      font-size: 10px;
    }
  }
  @media (min-width: 480px) {
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search {
      width: 100%;
    }
    .nav {
      width: 100%;
    }
    .header {
      height: 60px;
    }
    .logo {
      margin-top: 10px;
      width: 35%;
      height: 35%;
    }
    .banner__titulo {
      font-size: 20px;
      margin: 5px 0;
    }
    .banner__txt {
      display: block;
      font-size: 13px;
      margin: 7px 0;
    }
    .noticias {
      display: flex;
      justify-content: space-between;
      margin-top: -120px;
    }
    .info__columna {
      width: 100%;
      margin: 0;
    }
    .info__titulo {
      font-size: 13px;
      margin: 5px 0;
    }
    .info__columna {
      font-size: 11px;
    }
    .noticias {
      flex-wrap: wrap;
      margin-top: 0;
    }
    .section__titulo {
      width: 100%;
    }
    .noticias__columna {
      width: 48%;
    }
    .noticias__txt {
      display: block;
      font-size: 11px;
    }
    .noticias__titulo {
      margin: 0;
      text-align: left;
      font-size: 13px;
    }
    .section__titulo {
      font-size: 30px;
    }
    .footer .social [class^="icon-"] {
      margin: 0 10px;
    }
    .footer {
      font-size: 18px;
    }
    .section__titulo {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 780px) {
    .logo {
      width: 25%;
    }
    .header {
      height: 80px;
    }
    .nav {
      top: 85px;
    }
    .banner__titulo {
      display: block;
      font-size: 40px;
    }
    .banner__txt {
      display: block;
      font-size: 20px;
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: -60px;
    }
    .info__img {
      width: 100%;
      height: 140px;
    }
    .info__columna {
      width: 24%;
      margin: 4px;
    }
    .info {
      flex-wrap: wrap;
    }
    .noticias__titulo {
      font-size: 25px;
    }
    .info__titulo {
      font-size: 20px;
    }
    .info__columna {
      font-size: 14px;
    }
    .section__titulo {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .noticias__txt {
      font-size: 16px;
    }
  }
  @media (min-width: 1024px) {
    .logo {
      display: none;
    }
    .content {
      width: 1000px;
    }
    .header {
      height: 68px;
    }
    #box-search {
      width: 1024px;
    }
    #ctn-bars-search,
    #ctn-bars-search input {
      width: 1024px;
      left: 50%;
      transform: translateX(-26%);
    }
    .nav {
      position: static;
      width: auto;
      margin-right: 85px;
      margin-left: 6%;
    }
    .menu {
      display: flex;
    }
    .menu__link {
      background: none;
      font-size: 20px;
    }
    .select {
      color: white;
      background: #ba254a;
    }
    .icon-menu {
      display: none;
    }
    .banner__titulo {
      font-size: 60px;
    }
    .banner__txt {
      font-size: 20px;
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: -70px;
    }
    .info__img {
      width: 100%;
      height: 260px;
    }
    .info__columna {
      width: 46%;
      margin: 20px;
    }
    .info__titulo {
      text-align: center;
    }
    .info {
      flex-wrap: wrap;
    }
    .section__titulo {
      font-size: 45px;
      margin-bottom: 20px;
    }
    .noticias__txt {
      font-size: 15px;
    }
    .noticias__titulo {
      font-size: 30px;
    }
    .noticias__description {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    @media (min-width: 1440px) {
      .logo {
        width: 15%;
        display: block;
      }
      .content {
        width: 1440px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
      }
      .info__img {
        width: 100%;
        height: 260px;
      }
      .info__columna {
        width: 30%;
        margin: 20px;
      }
      .banner .content {
        top: 40%;
      }
      .info {
        margin-top: -220px;
      }
    }
    @media (min-width: 1920px) {
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
      }
    }
  }
  

